<div class="md:flex hidden">
  <div class="flex-1 flex"></div>

  <div class="flex-6 flex border-gray-200 border-2 mt-10">
    <div class="flex flex-col flex-4">
      <img
        class="w-full rounded-4xl p-4"
        src="{{ product.images[imgActive] }}"
        alt="product image"
      />
      <div class="flex justify-center items-center flex-wrap">
        @for (item of product.images; track $index) {
        <img
          class="w-24 h-24 p-2 rounded-4xl"
          src="{{ item }}"
          alt="product image"
          (click)="imgActive = $index"
        />
        }
      </div>
    </div>

    <div class="flex-6 justify-center items-center">
      <h1 class="text-4xl p-4 font-bold">{{ product.nombre }}</h1>
      <h3 class="text-4xl text-gray-400 pt-2">$ {{ product.precio }}</h3>

      <h3 class="pt-4">
        {{ product.descripcion }}
      </h3>

      <div class="pt-4">{{ product.colores }}</div>

      <button class="border-2 border-black mt-4 bg-green-400 w-64">
        WHARAP
      </button>
    </div>
  </div>

  <div class="flex-1 flex"></div>
</div>

<!-- VISTA MOBILE -->

<div class="flex border-gray-200 border-2 md:hidden">
  <div class="flex flex-col">
    <img class="w-full rounded-4xl p-4" src="img/10.jpg" alt="product image" />
    <div class="flex justify-center items-center flex-wrap">
      @for (item of product.images; track $index) {
      <img
        class="w-24 h-24 p-2 rounded-4xl"
        src="{{ item }}"
        alt="product image"
      />
      }
    </div>

    <div class="justify-center items-center">
      <h1 class="text-4xl p-4 font-bold text-center">{{ product.nombre }}</h1>
      <h3 class="text-4xl text-gray-400 pt-2 text-center">
        $ {{ product.precio }}
      </h3>

      <h3 class="pt-4 text-center">
        {{ product.descripcion }}
      </h3>

      <div class="pt-4 text-center">{{ product.colores }}</div>

      <div class="flex justify-center items-center">
        <button class="border-2 border-black mt-4 bg-green-400 w-64">
          WHARAP
        </button>
      </div>
    </div>
  </div>
</div>
