@if(product){
<!-- VISTA DESKTOP -->
<div class="md:flex hidden px-4">
  <div class="flex-1"></div>

  <div
    class="flex-6 flex border border-gray-200 rounded-xl shadow-md mt-10 bg-white"
  >
    <!-- Galería de imágenes -->
    <div class="flex flex-col flex-4 p-4">
      <div class="bg-yellow-50 rounded-xl p-4">
        @if (product.images && product.images.length > 0) {
        <img
          class="w-full rounded-xl object-contain"
          [src]="product.images[imgActive]"
          alt="product image"
        />
        } @else {
        <img
          class="w-full rounded-xl object-contain opacity-50"
          src="img/1.png"
          alt="imagen no disponible"
        />
        }
      </div>

      <div class="flex justify-center items-center flex-wrap mt-4 gap-2">
        @for (item of product?.images ?? []; track $index) {
        <img
          class="w-20 h-20 p-1 rounded-xl border border-gray-300 hover:border-yellow-500 cursor-pointer transition"
          [src]="item"
          alt="product image"
          (click)="imgActive = $index"
        />
        }
      </div>
    </div>

    <!-- Información del producto -->
    <div class="flex-6 flex flex-col justify-center p-6 space-y-4">
      <h1 class="text-3xl font-bold text-gray-900">{{ product.nombre }}</h1>
      <h3 class="text-2xl text-yellow-600 font-semibold">
        $ {{ product.precio }}
      </h3>
      <p class="text-gray-700 leading-relaxed">{{ product.descripcion }}</p>
      <div class="text-sm text-gray-500">
        Colores disponibles: {{ product.colores }}
      </div>

      <div class="flex justify-center items-center text-center">
        <a
          class="mt-6 min-w-3/5 bg-yellow-500 text-white font-semibold py-2 px-6 rounded-md hover:bg-yellow-600 transition w-fit"
          target="_blank"
          [href]="urlWhatsapp"
          rel="noopener noreferrer"
        >
          WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="flex-1"></div>
</div>

<!-- VISTA MOBILE -->
<div
  class="md:hidden border border-gray-200 rounded-xl shadow-md bg-white mx-2 p-2"
>
  <div class="flex flex-col space-y-4">
    <div class="bg-yellow-50 rounded-xl p-4">
      @if (product.images && product.images.length > 0) {
      <img
        class="w-full rounded-xl object-contain"
        [src]="product.images[imgActive]"
        alt="product image"
      />
      } @else {
      <img
        class="w-full rounded-xl object-contain opacity-50"
        src="img/1.png"
        alt="imagen no disponible"
      />
      }
    </div>

    <div class="flex justify-center items-center flex-wrap gap-2">
      @for (item of product?.images ?? []; track $index) {
      <img
        class="w-20 h-20 p-1 rounded-xl border border-gray-300 hover:border-yellow-500 cursor-pointer transition"
        [src]="item"
        alt="product image"
        (click)="imgActive = $index"
      />
      }
    </div>

    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold text-gray-900">{{ product.nombre }}</h1>
      <h3 class="text-xl text-yellow-600 font-semibold">
        $ {{ product.precio }}
      </h3>
      <p class="text-gray-700 leading-relaxed">{{ product.descripcion }}</p>
      <div class="text-sm text-gray-500 mt-4 mb-8">
        Colores disponibles: {{ product.colores }}
      </div>

      <a
        class="bg-yellow-500 text-white font-semibold py-2 px-6 rounded-md hover:bg-yellow-600 transition"
        target="_blank"
        [href]="urlWhatsapp"
        rel="noopener noreferrer"
      >
        WhatsApp
      </a>
    </div>
  </div>
</div>

}@else{
<app-spinner></app-spinner>
}
