@if(product){
<!-- VISTA DESKTOP -->
<div class="md:flex hidden px-4 mb-4">
  <div class="flex-1"></div>

  <div
    class="flex-6 flex border border-gray-200 rounded-xl shadow-md mt-10 bg-white"
  >
    <!-- Galería de imágenes -->
    <div class="flex flex-col flex-4 p-4">
      <div class="bg-yellow-50 rounded-xl p-4">
        @if (product.images && product.images.length > 0) {
        <img
          class="w-full rounded-xl object-contain"
          [src]="product.images[imgActive]"
          alt="product image"
        />
        } @else {
        <img
          class="w-full rounded-xl object-contain opacity-50"
          src="img/1.png"
          alt="imagen no disponible"
        />
        }
      </div>

      <div class="flex justify-center items-center flex-wrap mt-4 gap-2">
        @for (item of product?.images ?? []; track $index) {
        <img
          class="w-20 h-20 p-1 rounded-xl border border-gray-300 hover:border-yellow-500 cursor-pointer transition"
          [src]="item"
          alt="product image"
          (click)="imgActive = $index"
        />
        }
      </div>
    </div>

    <!-- Información del producto -->
    <div
      class="flex-6 flex flex-col justify-center p-3 space-y-4 bg-gray-50 m-3 rounded-md text-sm text-gray-800"
    >
      <h1 class="text-3xl text-center font-bold text-gray-900">
        {{ product.nombre }}
      </h1>
      <h3 class="text-3xl font-bold text-orange-600 text-center">
        $ {{ product.precio }}
      </h3>

      <p class="text-gray-700 leading-relaxed">{{ product.descripcion }}</p>
      <div class="">
        <div class="bg-white p-4 rounded-md border border-gray-200">
          <p><strong>📏 Alto:</strong> {{ product.alto }}</p>
          <p><strong>📐 Ancho:</strong> {{ product.ancho }}</p>
          <p><strong>🧱 Grosor:</strong> {{ product.grosor }}</p>
          <p><strong>🧵 Material:</strong> {{ product.material }}</p>
        </div>
      </div>

      @if (product.colores && product.colores[0] != "") {
      <div class="text-sm text-gray-700 mt-2">
        🎨 <strong>Colores disponibles:</strong> {{ product.colores }}
      </div>
      }

      <div class="flex justify-center flex-col items-center mb-8">
        <!-- <div
          class="mt-4 p-4 bg-yellow-100 rounded-lg text-sm text-gray-800 mb-4"
        >
          <p class="font-semibold mb-2">
            🛒 Todos los productos se realizan a pedido con una seña del
            <span class="text-red-600 font-bold">50%</span> del valor.
          </p>
        </div> -->
        <div
          class="mt-4 p-4 bg-yellow-100 rounded-lg text-sm text-gray-800 mb-4 border border-yellow-300 shadow-sm"
        >
          <p class="font-semibold mb-2">
            🛒 <strong>Todos los productos se realizan a pedido</strong><br />
            Seña del <span class="text-red-600 font-bold">50%</span> para
            confirmar.
          </p>
        </div>

        <iframe
          width="600"
          height="200"
          style="border: 0"
          src="https://www.google.com/maps?q=-27.380316, -55.940174&hl=es&z=16&output=embed"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>

      <div class="flex justify-center items-center text-center">
        <a
          class="mt-6 bg-green-500 text-white font-bold py-2 px-6 rounded-full hover:bg-green-600 transition shadow-md"
          target="_blank"
          [href]="urlWhatsapp"
          rel="noopener noreferrer"
        >
          Contactar por WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="flex-1"></div>
</div>

<!-- VISTA MOBILE -->
<div
  class="md:hidden border border-gray-200 rounded-xl shadow-md bg-white mx-2 p-2"
>
  <div class="flex flex-col space-y-4">
    <div class="bg-yellow-50 rounded-xl p-4">
      @if (product.images && product.images.length > 0) {
      <img
        class="w-full rounded-xl object-contain"
        [src]="product.images[imgActive]"
        alt="product image"
      />
      } @else {
      <img
        class="w-full rounded-xl object-contain opacity-50"
        src="img/1.png"
        alt="imagen no disponible"
      />
      }
    </div>

    <div class="flex justify-center items-center flex-wrap gap-2">
      @for (item of product?.images ?? []; track $index) {
      <img
        class="w-20 h-20 p-1 rounded-xl border border-gray-300 hover:border-yellow-500 cursor-pointer transition"
        [src]="item"
        alt="product image"
        (click)="imgActive = $index"
      />
      }
    </div>

    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold text-gray-900">{{ product.nombre }}</h1>
      <h3 class="text-3xl font-bold text-orange-600 text-center">
        $ {{ product.precio }}
      </h3>
      <p class="text-gray-700 leading-relaxed">{{ product.descripcion }}</p>
      @if (product.colores && product.colores[0] != "") {
      <div class="text-sm text-gray-700 mt-2">
        🎨 <strong>Colores disponibles:</strong> {{ product.colores }}
      </div>
      }

      <div class="mt-2">
        <div class="bg-white p-4 rounded-md border border-gray-200">
          <p><strong>📏 Alto:</strong> {{ product.alto }}</p>
          <p><strong>📐 Ancho:</strong> {{ product.ancho }}</p>
          <p><strong>🧱 Grosor:</strong> {{ product.grosor }}</p>
          <p><strong>🧵 Material:</strong> {{ product.material }}</p>
        </div>
      </div>
      <div
        class="mt-4 p-4 bg-yellow-100 rounded-lg text-sm text-gray-800 mb-4 border border-yellow-300 shadow-sm"
      >
        <p class="font-semibold mb-2">
          🛒 <strong>Todos los productos se realizan a pedido</strong><br />
          Seña del <span class="text-red-600 font-bold">50%</span> para
          confirmar.
        </p>
      </div>
      <div class="flex justify-center flex-col items-center mb-8">
        <h1 class="text-xl font-bold text-gray-900">Ubicación de retiro</h1>
        <iframe
          width="200"
          height="200"
          style="border: 0"
          src="https://www.google.com/maps?q=-27.380316, -55.940174&hl=es&z=16&output=embed"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
      <a
        class="mt-6 bg-green-500 text-white font-bold py-2 px-6 rounded-full hover:bg-green-600 transition shadow-md"
        target="_blank"
        [href]="urlWhatsapp"
        rel="noopener noreferrer"
      >
        Contactar por WhatsApp
      </a>
    </div>
  </div>
</div>

}@else{
<app-spinner></app-spinner>
}
