<div class="flex justify-center mt-4">
  <div class="flex-2"></div>
  <div class="flex flex-wrap justify-center flex-6">
    <app-card-product
      *ngFor="let product of products"
      [product]="product"
      class="m-4"
    ></app-card-product>
  </div>
  <div class="flex-2"></div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<!-- Paginación -->
<div
  *ngIf="products.length > 0"
  class="flex justify-center items-center mt-6 mb-8 space-x-2"
>
  <!-- Flecha atrás -->
  <button
    (click)="prevPage()"
    [disabled]="page === 1"
    class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50 hover:bg-yellow-600 cursor-pointer"
  >
    &laquo;
  </button>

  <!-- Números de página -->
  <button
    *ngFor="let p of getPages()"
    (click)="goToPage(p)"
    [class.bg-yellow-500]="p === page"
    [class.text-white]="p === page"
    class="px-3 py-1 rounded hover:bg-yellow-600 cursor-pointer"
  >
    {{ p }}
  </button>

  <!-- Flecha adelante -->
  <button
    (click)="nextPage()"
    [disabled]="page === totalPages"
    class="px-3 py-1 bg-gray-200 rounded disabled:opacity-50 hover:bg-yellow-600 cursor-pointer"
  >
    &raquo;
  </button>
</div>

<div
  *ngIf="!loading && noResults"
  class="flex flex-col items-center justify-center py-10"
>
  <img
    src="img/sinProductos.png"
    alt="Sin resultados"
    class="md:w-1/2 h-auto mb-4 w-4/5"
  />
</div>
