<div class="flex">
  <div class="w-3xl"><span>logo</span></div>

  <div class="w-full">
    <ul class="flex">
      <li class="px-1"><a routerLink="/">Inicio</a></li>
      <li class="px-1"><a routerLink="/imanes">Imanes</a></li>
      <li class="px-1"><a routerLink="/llaveros">Llaveros</a></li>
      <li class="px-1"><a routerLink="/portaLlaves">Porta Llaves</a></li>
      <li class="px-1"><a routerLink="/toppers">Adornos para Tortas</a></li>
      <li class="px-1">
        <a routerLink="/toppersCupcakes">Adornos para Cupcakes</a>
      </li>
      <li class="px-1"><a routerLink="/navidad">Navidad</a></li>
    </ul>
  </div>
</div>
